@charset "utf-8";

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Pretendard;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

#wrap {
  min-width: 1360px;
}

/* --------------------Header------------------------ */
#header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.6s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#header.hide {
  transform: translateY(-100%);
}

.inner_header {
  width: 1320px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  padding-top: 10px;
}

/* gnb */
.gnb {
  display: flex;
}

.gnb li a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 0 30px;
  padding: 6px 6px 10px 6px;

  position: relative;
}

.gnb li a::after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #EE6E29;

  position: absolute;
  bottom: 0;
  left: 0;

  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

.gnb li a:hover,
.gnb li a.active {
  color: #EE6E29;
}

.gnb a:hover::after,
.gnb a.active::after {
  transform: scaleX(1);
}


/* util */
.util {
  display: flex;
  gap: 15px;
}

.util li a {
  display: block;
  transform: scale(0.9);
  transition: all 0.5s;
}

.util li a:hover {
  transform: scale(1);
}


/* --------------------Banner------------------------ */
#banner {
  height: 950px;
  color: #fff;
  background: url(../images/brand/brand_visual.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner h1 {
  display: inline-block;
  font-size: 50px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #fff;
}

.scroll_txt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.scroll_txt p {
  font-size: 12px;
  text-transform: uppercase;
  animation: up 0.6s forwards;
  transform: scale(1, 0);
  letter-spacing: 1px;
}

@keyframes up {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: none;
  }
}

.scr1 {
  transform: translate(0, 0);
  transition: 0.6s;
  background-position: 0% 0%;
  animation: up 1s 5.4s forwards;
  margin-top: 24px;
}

.scr1 span {
  margin: 10px auto 0;
  display: block;
  width: 1px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}

.scr1 span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: scr 4s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
  background-color: #ffffff;
}

@keyframes scr {
  0% {
    transform: translate(0, -100%);
  }

  80% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

/* --------------------- Container --------------------- */
/* section 공통 */
.section {
  width: 1320px;
  margin: 0 auto;
}

.title {
  align-self: flex-start;
  margin-bottom: 40px;
}

.Eg_text {
  font-size: 20px;
  font-weight: 700;
  color: #2b4a8f;
}

.Kr_text {
  font-size: 36px;
  font-weight: 700;
}

.subtext {
  font-size: 18px;
  margin-top: 5px;
}


/* section 1 - 브랜드 비주얼 */
#section1 {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}

#section1 .brandname {
  font-family: 'Moderniz';
  font-size: 66px;
  margin-bottom: 50px;

  display: inline-block;
  animation: infiniteBounce 1s ease-in-out infinite alternate;
}

.brandname span {
  display: inline-block;
  font-family: 'Moderniz';
  font-size: inherit;
  color: inherit;
  /* 애니메이션 적용: 이름, 지속시간, 타이밍함수, 반복횟수, 방향 */
  animation: waveBounce 0.8s ease-in-out infinite alternate;
  animation-delay: calc(0.1s * var(--i)); /* HTML에 적은 --i 변수를 활용해 글자마다 시작 시간을 0.1초씩 지연 */
}

@keyframes waveBounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}


#section1 .desc {
  font-size: 24px;
  margin-bottom: 30px;
}



/* section 2 - 브랜드 스토리*/
#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}

.contents {
  width: 90%;
  height: 270px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  position: relative;
}

.textbox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.textbox p {
  font-size: 20px;
}

.imgbox img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.contents:nth-child(2) .textbox p {
  margin-right: 150px;
  margin-top: 80px;
}

.contents:nth-child(3) .textbox p {
  margin-left: 200px;
  margin-top: 70px;
}

.contents:nth-child(4) .textbox p {
  margin-right: 120px;
  margin-top: 80px;
}

/* .orange-line {
   display: block;
   width: 36%;
   height: 10px;
   background-color: #ee6e29;
   position: absolute;
   bottom: 32%;
   right: 20%;

   transform-origin: left;
   transform: scaleX(0);
 } */

/* [data-aos="draw-line"] {
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
 }

 [data-aos="draw-line"].aos-animate {
   transform: scaleX(1);
 } */

.inner_line {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  /* transform: rotate(180deg); */

  position: absolute;
  top: 90px;
  z-index: -1;
}

.heart_line svg {
  width: 800px;
  height: auto;
  /* transform: rotateY(180deg); */
}

/* SVG 선 애니메이션 (위에서 아래로) */
.heart_line path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke: url(#SVGID_1_);
  stroke-width: 20;
  stroke-linecap: round;
  fill: none;
  transition: stroke-dashoffset 5s ease-out;
}

/* 클래스 추가 시 애니메이션 실행 (위에서 아래로 나타남) */
.heart_line.visible path {
  stroke-dashoffset: 0;
}



/* section 3 - 브랜드 키워드*/
#section3 {
  height: 800px;
  margin-top: 300px;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  background-color: #eaefff;
}

.keyword {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.keyword li {
  width: calc(100% / 3 - 20px);
  height: 476px;
  border-radius: 20px;
  font-size: 20px;
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
}

.k_imgbox {
  overflow: hidden;
  border-radius: 20px;
}

.k_imgbox img {
  display: block;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  filter: grayscale(0.2);
  cursor: pointer;
  transition: all 0.5s;
}

.k_textbox {
  text-align: center;
}

.k_textbox h2 {
  font-size: 28px;
  margin: 20px 0;
}

.keyword li:hover img {
  transform: scale(1.1);
}



/* section 4 - 브랜드 아이덴티티*/
#section4 {
  height: 500px;
  margin-top: 100px;
}

.identity {
  display: flex;
  gap: 10px;
}

.identity li {
  width: 25%;
  height: 400px;
  margin-top: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid #2b4a8f;
  border-radius: 20px;
  cursor: pointer;

  transform: translateY(0);
  transition: all 0.5s;
}

.identity li h2 {
  font-size: 24px;
}

.identity li h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

.identity li img {
  display: block;
  width: 120px;
  margin: 26% 0;
  padding: 0 25%;
  opacity: 0.9;
}

.identity li:nth-child(2n) img {
  filter: brightness(0) invert(1);
}

.identity li:nth-child(1) {
  background-color: #FFF;
  color: #2b4a8f;
}

.identity li:nth-child(2) {
  background-color: #2b4a8f;
  color: #fff;
}

.identity li:nth-child(3) {
  background-color: #FFF;
  color: #2b4a8f;
}

.identity li:nth-child(4) {
  background-color: #2b4a8f;
  color: #fff;
}

.identity li:hover {
  transform: translateY(-30px);
}



/* section 5 - CTA*/
#section5 {
  height: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/brand/cta_bg.png) no-repeat bottom/cover;
  margin-top: 100px;
}

#section5 p {
  font-size: 30px;
}

.ctabtn {
  display: inline-block;
  border: 1px solid #333;
  color: #333;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 18px;

  background: linear-gradient(to top,transparent 50%, #333 50%);
  background-size: 100% 200%;
  background-position: bottom; 
  transition: background-position 0.5s ease, color 0.3s ease;
}

.ctabtn:hover {
  background-position: top; 
  color: #ffffff; /* 글자색을 흰색으로 변경해 가독성 확보 */
}

/* --------------------- Footer --------------------- */
#footer {
  height: 350px;
  background-color: #333;
}

.inner_footer {
  width: 1320px;
  height: 350px;
  margin: 0 auto;
  padding: 120px 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-between;

  position: relative;
}

.footerlogo {
  opacity: 0.9;
  position: absolute;
  top: 50px;
  left: 0;
}

.footerinfo li {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 200;
  opacity: 0.9;
}

.footerinfo strong {
  font-weight: 500;
}

.footerlink li {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;

  opacity: 0.9;
}

.footerlink li:hover {
  color: #EE6E29;
}

.call {
  width: 350px;
  height: 50px;
  background-color: #595858;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
  gap: 30px;
  font-size: 16px;
}

.call strong {
  font-size: 32px;
  font-weight: 600;
}

.sns {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.sns li {
  opacity: 0.8;
}

.sns li:hover {
  opacity: 1;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 60px;
}


/* --------------------- TOP 버튼 --------------------- */
.br-top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;

  /* 초기 상태: 숨김 */
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.br-top-btn.is-visible {
  opacity: 1;
  visibility: visible;
}

.br-top-btn img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
}

.br-top-btn:hover {
  transform: translateY(-10px);
}

.br-top-btn:active {
  transform: scale(0.9);
}