 @charset "utf-8";

 html,
 body,
 div,
 span,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 em,
 img,
 small,
 strong,
 b,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tr,
 th,
 td,
 article,
 aside,
 footer,
 header,
 nav,
 section,
 summary,
 video,
 * {
     padding: 0;
     margin: 0;
 }

 ul,
 ol {
     list-style: none;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 body {
     font-family: Pretendard;
     font-size: 14px;
     line-height: 1.5;
     color: #333;
 }

 html {
     scroll-behavior: smooth;
 }

 #wrap {
     min-width: 1360px;
 }

 /* --------------------Header------------------------ */
 #header {
     width: 100%;
     height: 90px;
     background-color: #fff;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     transition: all 0.6s ease-in-out;
 }

 .inner_header {
     width: 1320px;
     height: 90px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* logo */
 .logo img {
     display: block;
     width: 150px;
 }

 /* gnb */
 .gnb {
     display: flex;
 }

 .gnb li a {
     display: block;
     font-size: 18px;
     font-weight: 600;
     margin: 0 30px;
     padding: 6px 6px 10px 6px;
     transition: color 0.4s ease-in-out;

     position: relative;
 }

 .gnb li a::after {
     content: '';
     width: 100%;
     height: 5px;
     background-color: #EE6E29;

     position: absolute;
     bottom: 0;
     left: 0;

     transition: all 0.3s;
     transform: scaleX(0);
     transform-origin: center;
 }

 .gnb li a:hover,
 .gnb li a.active {
     color: #EE6E29;
 }

 .gnb a:hover::after,
 .gnb a.active::after {
     transform: scaleX(1);
 }


 /* util */
 .util {
     display: flex;
     gap: 15px;
 }

 .util li a {
     display: block;
     transform: scale(0.9);
     transition: all 0.5s;
 }

 .util li a img {
     width: 30px;
 }

 .util li a:hover {
     transform: scale(1);
 }


 /* --------------------Banner------------------------ */
 #banner {
     margin-top: 90px;
     height: 400px;
     color: #fff;

     background-image: url(../images/shop/shop_banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     filter: opacity(0.9);

     position: relative;
 }

 .text {
     text-align: center;
     padding-top: 140px;
 }

 .text h1 {
     font-size: 56px;
 }

 .text p {
     font-size: 24px;
     margin-top: 10px;
 }



 /* --------------------- Container --------------------- */
 .inner {
     width: 1320px;
     margin: 50px auto;
     padding: 20px 0;
 }

 .section .Eg_text {
     font-size: 20px;
     font-weight: 700;
     text-align: left;
     color: #EE6E29;
 }

 .section .Kr_text {
     font-size: 36px;
     font-weight: 600;
     display: flex;
     align-items: center;
     gap: 15px;
 }

 .section .Kr_text span img {
     display: block;
     width: 30px;
 }

 .section .sub_text {
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 30px;
 }


 /* item_list */
 .item_list {
     display: flex;
     margin-bottom: 50px;
     gap: 20px;
     overflow: hidden;
 }


 .item_list .imgwrap {
     display: block;
     width: 99%;
     overflow: hidden;
     border-radius: 15px;
     background-color: #f9f9f9;
     border: 1px solid #d9d9d9;
 }

 .item_list .imgwrap img {
     display: block;
     width: 100%;
     height: auto;
     display: block;

     transition: transform 0.3s ease-in-out;
 }

 .item_name {
     margin-top: 10px;
     font-size: 20px;
     font-weight: 500;
 }

 .item_price {
     font-size: 22px;
     font-weight: 700;
 }

 .item_price .persent {
     color: #EE6E29;
     font-size: 18px;
 }

 .star {
     font-size: 16px;
     font-weight: 500;
 }


 .item_list li:hover a img {
     transform: scale(1.1);
 }

 /* sub_banner */
 .sub_banner {
     height: 400px;
     position: relative;
     /* .detail의 기준점 */
 }

 .swiper-slide {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-slide img {
     width: 100%;
     display: block;
     object-fit: cover;
 }

 .detail1 {
     display: inline-block;
     color: #333;
     font-size: 18px;
     font-weight: 600;
     padding: 10px 25px;
     border: 2px solid #333;
     border-radius: 50px;
     transition: all 0.3s;

     position: absolute;
     top: 64%;
     left: 54%;
 }

 .detail2 {
     display: inline-block;
     color: #333;
     font-size: 18px;
     font-weight: 600;
     padding: 10px 25px;
     border: 2px solid #333;
     border-radius: 50px;
     transition: all 0.3s;

     position: absolute;
     top: 67%;
     left: 25%;

 }

 .detail1:hover {
     background-color: #2B4A8F;
     border: 2px solid #2B4A8F;
     color: #fff;
 }

 .detail2:hover {
     background-color: #fa9b2f;
     border: 2px solid #fa9b2f;
     color: #fff;
 }


 .swiper-pagination {
     bottom: 40px !important;
 }

 .swiper-pagination-bullet-active {
     background-color: #2B4A8F;
 }


 /* 전체 상품 */
 .goodstab {
     display: flex;
     gap: 20px;
     margin: 30px 0;
 }

 .goodstab li a {
     display: inline-flex;
     align-items: center;
     color: #333;
     border: 1px solid #333;
     border-radius: 20px;
     font-family: pretendard;
     font-size: 20px;
     font-weight: 600;
     padding: 5px 30px 5px 50px;
     text-align: center;

     /* 배경 공통 설정 */
     background-color: #fff;
     background-repeat: no-repeat;
     background-position: 15px 7px;
     background-size: 23px;
 }

 .goodstab li a:hover,
 .goodstab li a.active {
     color: #fff;
     border: 1px solid #EE6E29;
     background-color: #EE6E29;
 }

 .goodstab li:nth-child(1) a {
     padding-right: 50px;
 }

 .goodstab li:nth-child(2) a {
     background-image: url(../images/main/7-shop/tshirts-b.svg);
 }

 .goodstab li:nth-child(2) a:hover,
 .goodstab li:nth-child(2) a.active {
     background-image: url(../images/main/7-shop/tshirts-w.svg);
 }

 .goodstab li:nth-child(3) a {
     background-image: url(../images/main/7-shop/Pencil-b.svg)
 }

 .goodstab li:nth-child(3) a:hover,
 .goodstab li:nth-child(3) a.active {
     background-image: url(../images/main/7-shop/Pencil-w.svg);
 }

 .goodstab li:nth-child(4) a {
     background-image: url(../images/main/7-shop/Talent-b.svg);
 }

 .goodstab li:nth-child(4) a:hover,
 .goodstab li:nth-child(4) a.active {
     background-image: url(../images/main/7-shop/Talent-w.svg);
 }

 .filter_wrap {
     display: flex;
     justify-content: space-between;
     padding: 0 10px;
 }

 .filter_wrap p {
     font-size: 18px;
 }

 .filter_wrap select {
     padding: 0 10px;
 }

 .all {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     /* 한 줄에 똑같은 너비(1fr)로 5개*/
     gap: 20px;
     /* 상품 사이의 간격 (가로, 세로 20px) */
 }

 .all li {
     width: 100%;
     /* li 내부 내용이 삐져나가지 않도록 설정 */
     margin-top: 20px;
 }

 .all .imgwrap {
     position: relative;
 }

 .all .imgwrap img {
     width: 100%;
     display: block;
 }

 /* 오버레이 */
 .overlay {
     position: absolute;
     inset: 0;
     background: rgba(0, 0, 0, 0.7);

     display: flex;
     align-items: center;
     justify-content: center;

     opacity: 0;
     transition: opacity 0.4s ease;
 }

 .overlay span {
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: -0.5px;

     transform: translateY(10px);
     transition: transform 0.4s ease;
 }

 .imgwrap:hover .overlay {
     opacity: 1;
 }

 .imgwrap:hover .overlay span {
     transform: translateY(0);
 }


 /* --------------------- Footer --------------------- */
 #footer {
     height: 350px;
     background-color: #333;
 }

 .inner_footer {
     width: 1320px;
     height: 350px;
     margin: 0 auto;
     padding: 120px 0;
     box-sizing: border-box;
     color: #fff;
     display: flex;
     justify-content: space-between;

     position: relative;
 }

 .footerlogo {
     opacity: 0.9;
     position: absolute;
     top: 50px;
     left: 0;
 }

 .footerinfo li {
     margin: 10px 0;
     font-size: 16px;
     font-weight: 200;
     opacity: 0.9;
 }

 .footerinfo strong {
     font-weight: 500;
 }

 .footerlink li {
     font-size: 20px;
     font-weight: 600;
     margin: 10px 0;

     opacity: 0.9;
 }

 .footerlink li:hover {
     color: #EE6E29;
 }

 .call {
     width: 350px;
     height: 50px;
     background-color: #595858;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 30px 20px;
     box-sizing: border-box;
     gap: 30px;
     font-size: 16px;
 }

 .call strong {
     font-size: 32px;
     font-weight: 600;
 }

 .sns {
     display: flex;
     gap: 10px;
     position: absolute;
     right: 0;
     bottom: 100px;
 }

 .sns li {
     opacity: 0.8;
 }

 .sns li:hover {
     opacity: 1;
 }

 .copyright {
     position: absolute;
     right: 0;
     bottom: 60px;
 }


 /* --------------------- TOP 버튼 --------------------- */
 .br-top-btn {
     position: fixed;
     bottom: 40px;
     right: 40px;
     width: 80px;
     height: 80px;
     background: none;
     border: none;
     cursor: pointer;
     z-index: 9999;

     /* 초기 상태: 숨김 */
     opacity: 0;
     visibility: hidden;
     transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .br-top-btn.is-visible {
     opacity: 1;
     visibility: visible;
 }

 .br-top-btn img {
     width: 100%;
     height: auto;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: opacity 0.3s ease;
     filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
 }

 .br-top-btn:hover {
     transform: translateY(-10px);
 }

 .br-top-btn:active {
     transform: scale(0.9);
 }