 @charset "utf-8";

 html,
 body,
 div,
 span,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 em,
 img,
 small,
 strong,
 b,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tr,
 th,
 td,
 article,
 aside,
 footer,
 header,
 nav,
 section,
 summary,
 video,
 * {
   padding: 0;
   margin: 0;
 }

 ul,
 ol {
   list-style: none;
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 body {
   font-family: Pretendard;
   font-size: 14px;
   line-height: 1.5;
   color: #333;
 }

 html {
   scroll-behavior: smooth;
 }

 #wrap {
   min-width: 1360px;
 }

 /* --------------------Header------------------------ */
 #header {
   width: 100%;
   height: 90px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   transition: background 0.3s;
   /* 부드러운 변화 */
   background-color: #fff;
 }

 .inner_header {
   width: 1320px;
   height: 90px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 /* logo */
 .logo {
   padding-top: 10px;
 }

 /* gnb */
 .gnb {
   display: flex;
 }

 .gnb li a {
   display: block;
   font-size: 18px;
   font-weight: 600;
   margin: 0 30px;
   padding: 6px 6px 10px 6px;

   position: relative;
 }

 .gnb li a::after {
   content: '';
   width: 0;
   /* 처음에는 너비가 0 */
   height: 4px;
   background-color: #EE6E29;
   border-radius: 5px;

   position: absolute;
   bottom: 0;
   left: 0;

   transition: width 0.1s ease;
 }

 .gnb li a:hover,
 .gnb li a.active {
   color: #EF6E2A;
 }

 .gnb a:hover::after,
 .gnb a.active::after {
   width: 100%;
   /* 너비를 100%로 확장 */
 }


 /* util */
 .util {
   display: flex;
   gap: 15px;
 }

 .util li a {
   display: block;
 }

 /*uitl-tooltip 적용 */
 .login,
 .join {
   position: relative;
 }

 .login::after,
 .join::after {
   content: attr(data-tooltip);
   font-size: 12px;
   position: absolute;
   bottom: -35px;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   padding: 5px 10px;
   border-radius: 0.25rem;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.2s;
   z-index: 99;
 }

 .login:hover::after,
 .join:hover::after {
   opacity: 1;
 }


 /* --------------------Banner------------------------ */
 #banner {
   margin-top: 90px;
   height: 400px;
   color: #fff;

   background-image: url(../images/travel/travel_banner3.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   filter: opacity(0.9);

   position: relative;
 }

 .text {
   padding-top: 140px;
   padding-left: 300px;
 }

 .text h1 {
   font-size: 56px;
 }

 .text p {
   font-size: 24px;
   margin-top: 10px;
 }



 /* --------------------- Container --------------------- */
 #section1 {
   width: 1320px;
   margin: 50px auto;
   padding: 20px 0;
 }

 /* section1: 도시필터 */
 .guide_text {
   text-align: center;
   margin: 30px 0;
   font-size: 20px;
 }

 .city_filter {
   display: flex;
   gap: 40px;
   justify-content: center;
   align-items: flex-start;
 }

 .city_item button {
   border: 0;
   background: none;
   cursor: pointer;
 }

 .city_img {
   display: block;
   width: 72px;
   height: 72px;
   border-radius: 50%;
   overflow: hidden;
   transition: transform 0.35s ease, box-shadow 0.35s ease;
 }

 .city_img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .city_name {
   display: block;
   margin-top: 10px;
   font-size: 16px;
   font-weight: 500;
   color: #333;
   text-align: center;
 }

 .city_item.active .city_img {
   transform: scale(1.2) translateY(-10px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
 }

 .city_item.active .city_name {
   font-size: 26px;
   font-weight: 700;
   color: #2b4a8f;
 }

 /* section 공통 */
 .section {
   width: 1320px;
   margin: 50px auto;
   padding: 20px 0;
   display: flex;
 }

 .textbox {
   width: 18%;
 }

 .textbox .title {
   font-size: 30px;
   font-weight: 700;
 }

 .textbox .sub_text {
   font-weight: 500;
   margin-top: 10px;
 }


 /* section2: 여행 코스*/
 .map_wrap {
   width: 100%;
   height: 700px;

   position: relative;
   /* .map_img의 기준점 */
 }

 .map_img {
   display: block;
   width: 800px;

   position: absolute;
   top: -10%;
   left: -16%;
 }

 /* section3: 인기 맛집, section4:인기 카페*/
 .contentsbox {
   width: 100%;
   padding: 20px;
   background-color: #2b4b8f13;
   overflow: hidden;
 }

 .card-list {
   display: flex;
   transition: transform 0.5s ease-in-out;
 }

 .card {
   flex: 0 0 25%;
   /* 한 화면에 4개 배치 */
   padding-bottom: 30px;
   box-sizing: border-box;
   transition: all 0.5s;
 }

 .card .img-box {
   width: 100%;
   height: 55%;
   overflow: hidden;
 }

 .card .img-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.5s;
 }

 .card .info-box {
   width: 100%;
   height: 45%;
   background-color: #2b4a8f;
   border: 2px solid #2b4a8f;
   padding: 20px;
   color: #fff;
   box-sizing: border-box;
 }

 #section4 .card .info-box {
   background-color: #EE6E29;
   border: 2px solid #EE6E29;
 }

 .card .info-box h3 {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 6px;
 }

 .divider {
   width: 100%;
   height: 2px;
   background-color: #fff;
   margin-bottom: 12px;
 }

 .description {
   font-size: 15px;
   font-weight: 600;
   line-height: 1.5;
 }

 .hashtag {
   font-size: 14px;
   font-weight: 600;
   margin: 20px 0;
 }

 .action-area {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 15px;
   padding: 10px 0;
 }

 .icon-wrap {
   position: relative;
   width: 24px;
   height: 24px;
   cursor: pointer;
 }

 .icon-wrap img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 0;
   left: 0;
 }

 .icon-img.default {
   filter: brightness(0) invert(1);
 }

 .icon-img.hover {
   opacity: 0;
 }

 .icon-wrap:hover {
   transform: scale(1.1);
 }

 .card:hover .info-box {
   background-color: #ffffff;
   color: #2b4a8f;
   border: 2px solid #2b4a8f;
   border-top: none;
 }

 #section4 .card:hover .info-box {
   background-color: #ffffff;
   color: #EE6E29;
   border: 2px solid #EE6E29;
   border-top: none;
 }

 .card:hover .divider {
   background-color: #2b4a8f;
 }

 #section4 .card:hover .divider {
   background-color: #EE6E29;
 }

 .card:hover .img-box img {
   scale: 1.05;
 }

 .card:hover .icon-wrap img.default {
   opacity: 0;
 }

 .card:hover .icon-wrap img.hover {
   opacity: 1;
 }


 /* 스크롤바 */
 .contentsbox .swiper-scrollbar {
   background: rgba(0, 0, 0, 0.2);
   height: 5px;
   bottom: 20px;
 }

 /* 스크롤바 드래그 막대 스타일 */
 .contentsbox .swiper-scrollbar-drag {
   background: #333;
 }


 /* --------------------- Footer --------------------- */
 #footer {
   height: 350px;
   background-color: #333;
 }

 .inner_footer {
   width: 1320px;
   height: 350px;
   margin: 0 auto;
   padding: 120px 0;
   box-sizing: border-box;
   color: #fff;
   display: flex;
   justify-content: space-between;

   position: relative;
 }

 .footerlogo {
   opacity: 0.9;
   position: absolute;
   top: 50px;
   left: 0;
 }

 .footerinfo li {
   margin: 10px 0;
   font-size: 16px;
   font-weight: 200;
   opacity: 0.9;
 }

 .footerinfo strong {
   font-weight: 500;
 }

 .footerlink li {
   font-size: 20px;
   font-weight: 600;
   margin: 10px 0;

   opacity: 0.9;
 }

 .footerlink li:hover {
   color: #EE6E29;
 }

 .call {
   width: 350px;
   height: 50px;
   background-color: #595858;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px 20px;
   box-sizing: border-box;
   gap: 30px;
   font-size: 16px;
 }

 .call strong {
   font-size: 32px;
   font-weight: 600;
 }

 .sns {
   display: flex;
   gap: 10px;
   position: absolute;
   right: 0;
   bottom: 100px;
 }

 .sns li {
   opacity: 0.8;
 }

 .sns li:hover {
   opacity: 1;
 }

 .copyright {
   position: absolute;
   right: 0;
   bottom: 60px;
 }


 /* ■ ■ ■ ■ ■ TOP 버튼  ■ ■ ■ ■ ■*/
 .br-top-btn {
   position: fixed;
   bottom: 40px;
   right: 40px;
   width: 80px;
   height: 80px;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 1000;

   /* 초기 상태: 숨김 */
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 /* 스크롤 시 등장 */
 .br-top-btn.is-visible {
   opacity: 1;
   visibility: visible;
 }

 /* 이미지 기본 설정 */
 .br-top-btn img {
   width: 100%;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: opacity 0.3s ease;
 }


 /* --- 호버 인터랙션 --- */
 .br-top-btn:hover {
   transform: translateY(-10px);
   /* 위로 살짝 점프 */
 }


 /* 클릭했을 때 살짝 작아지는 피드백 */
 .br-top-btn:active {
   transform: scale(0.9);
 }